.o-container {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--gutter-x, 0.75rem);
    padding-left: var(--gutter-x, 0.75rem);
}

/* --auto modifier makes .o-container respond to common screen sizes */
.o-container--auto {}

@media (min-width: 576px) {
    .o-container--auto {
        max-width: 576px;
    }
}

@media (min-width: 768px) {
    .o-container--auto {
        max-width: 768px;
    }
}

@media (min-width: 992px) {
    .o-container--auto {
        max-width: 992px;
    }
}

@media (min-width: 1200px) {
    .o-container--auto {
        max-width: 1200px;
    }
}

@media (min-width: 1400px) {
    .o-container--auto {
        max-width: 1400px;
    }
}

.o-container--sm {
    max-width: 576px;
}

.o-container--md {
    max-width: 768px;
}

.o-container--lg {
    max-width: 992px;
}

.o-container--xl {
    max-width: 1200px;
}

.o-container--xxl {
    max-width: 1400px;
}